<h1>Stupid Coaching</h1>

<div class="border p-3 mb-2">
  <p>- <%= @answer %></p>
  <p>-You</p>
</div>

<div class="border p-3 mb-2 bg-warning text-dark">
  <p>- <%= @coach_answer %></p>
  <p>-Your Coach</p>
</div>

<div><%= link_to "Ask a new question", "/ask" %></div>
