<div class="row justify-content-center">
  <div class="col-md-6">
      <h1 class="mb-4 text-center">Stupid Coaching</h1>
        <form action="/answer" data-turbo="false">
          <div class="mb-3">
            <label for="inputField" class="form-label">Your Coach is waiting for you...</label>
            <input type="text" class="form-control" id="inputField" name="question" placeholder="Ask a question" >
          </div>
          <button type="submit" class="btn btn-primary w-100">Ask!</button>
          </div>
        </form>
    </div>
</div>
